html,body {
	height: 100%;
	width: 100%;
	-webkit-user-select: none;
}

body {
	-webkit-box-sizing: border-box;
	padding-bottom: 40px;
}

.wrapper_console {
	overflow: auto;
	height: 100%;
	padding: 5px;
}

.request {
	color: #1289ff;
	-webkit-user-select: initial;
}

.request:before {
	font-family: FontAwesome;
    content: "\f054";
    color: #888888;    
	-webkit-user-select: initial;
}

.answer {
	-webkit-user-select: initial;
}

.answer.log {
	color: #4730d8;
}

.answer.log:before {
	font-family: FontAwesome;
    content: "\f053";
    color: #888888;
	-webkit-user-select: initial;
}

.answer.error {
	color: #ff0000;
}

.answer.error:before {
	font-family: FontAwesome;
    content: "\f057";
	-webkit-user-select: initial;
}

.answer.warn {
	color: #4730d8;
}

.answer.warn:before {
	font-family: FontAwesome;
    content: "\f071";
	color: #ebbb2c;
	-webkit-user-select: initial;
}

.answer.info {
	color: #aaaaaa;
}

.answer.info:before {
	font-family: FontAwesome;
    content: "\f053";
    color: #888888;
	-webkit-user-select: initial;
}

.current_request {
	position: relative;
}

.current_request > i {
	position: absolute;
	top: 4px;
	color: #000000;
}

.current_request > input {
	width: 100%;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	padding-left: 14px;
}

.current_request > input:focus {
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.panel {
	position: absolute;
	left: 0;
	bottom: 0;
	margin:0;
	width: 100%;
}
.panel .navbar-inner {
	border: none;
	border-radius: 0;
	padding: 0;
	min-height: 30px !important;
}

.panel  ul {
	position: relative;
	width: 100%;
}

.panel li > a {
	padding: 5px !important;
	margin: 0;
} 

.panel  li.about {
	position: absolute;
	right: 0;
}
